{{ if enabled }}
<div class="ddm ddmcc" data-handle="{{ handle }}" data-categories="{{ categories }}" style="display:none;opacity:0;{{ if bg_image }}background-image: url('{{ bg_image:url }}'){{ /if }}">
	<div class="ddmcc-wrapper">
		<div class="ddmcc-content">
			<h2>{{ title }}</h2>
			<p>{{ paragraph }}</p>
			<div class="ddmcc-buttons centered">
				<button class="ddmcc-button-accept ddm-button inverted">{{ button_accept }}</button>
			</div>
		</div>
	</div>
	{{ if slot }}
	<textarea data-html-snippet disabled hidden>
		{{ slot }}
	</textarea>
	{{ /if }}
</div>
{{ /if }}
