{{ if enabled }}
<div class="ddm ddmcm {{ modal_background }}" style="display:none;opacity:0;">
	<div class="ddmcm-wrapper">
		<div class="ddmcm-box {{ modal_horizontal_positon }} {{ modal_vertical_positon }}">
			<div class="ddmcm-content">
				<h2>{{ modal_title }}</h2>
				<p>{{ modal_description }}</p>
				<div class="ddmcm-categories">
					{{ categories }}
					<div class="checkbox">
						<input type="checkbox" id="cookie-category-{{ handle }}" name="{{ handle }}"{{ if required }} disabled checked{{ /if }}>
						<label for="cookie-category-{{ handle }}">{{ title }}</label>
						<button aria-label="{{ description }}" role="tooltip"></button>
						{{ code_snippets }}
						<script data-category="{{ handle }}" type="text/snippetscript">{{ code:code ?? code }}</script>
						{{ /code_snippets }}
					</div>
					{{ /categories }}
				</div>
				<div class="ddmcm-buttons">
					<button id="ddmcm-button-all">{{ modal_button_all }}</button>
					<button id="ddmcm-button-selected">{{ modal_button_selected }}</button>
				</div>
			</div>
		</div>
	</div>
	{{ stylesheet }}
	{{ loadscript }}
</div>
{{ /if }}