/**
    DEFAULT COOKIE BYTE STYLING

    Here we define basic styles for e.g. buttons or checkboxes. You can
    reuse each or replace them with your own to match your site's design.
 */

.ddm {
    --ddm-color-primary: #000;
    --ddm-color-secondary: #fff;
    --ddm-color-disabled: #a3a3a3;
    --ddm-color-background: #fff;
    --ddm-color-text: #000;

    * {
        box-sizing: border-box;
    }
}

.ddm-button {
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.375rem 1.25rem;
    font-weight: bold;
    text-decoration: none;
    transition: all ease-in-out 300ms;

    background-color: var(--ddm-color-primary);
    border: 2px solid var(--ddm-color-primary);
    color: var(--ddm-color-secondary);

    &:hover {
        background-color: var(--ddm-color-secondary);
        color: var(--ddm-color-primary);
    }

    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}

.ddm-button.inverted {
    color: var(--ddm-color-primary);
    background-color: var(--ddm-color-secondary);
    border: 2px solid var(--ddm-color-secondary);

    &:hover {
        color: var(--ddm-color-secondary);
        background-color: var(--ddm-color-primary);
        border: 2px solid var(--ddm-color-primary);
    }
}

/* Checkboxes */
.ddmcm .checkbox input[type='checkbox'] {
    display: none;

    & + label {
        position: relative;
        display: block;
        padding-left: 2rem;

        cursor: pointer;
        user-select: none;
    }

    &:disabled + label {
        color: var(--ddm-color-disabled);
    }

    & + label::before {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        top: 0.15rem;
        left: 0;

        border: 2px solid var(--ddm-color-primary);
        content: '';
        transition: all .12s, border-color .08s;
    }

    &:disabled + label::before {
        border-color: var(--ddm-color-disabled);
    }

    &:checked + label::before {
        width: 0.75rem;
        top: 0.5rem;
        transform: rotate(45deg) translate(-50%, -50%);

        background-color: transparent;
        border-color: transparent;
        border-right-color: var(--ddm-color-primary);
        border-bottom-color: var(--ddm-color-primary);
        border-right-width: 2px;
        border-bottom-width: 2px;
    }

    &:checked:disabled + label::before {
        border-right-color: var(--ddm-color-disabled);
        border-bottom-color: var(--ddm-color-disabled);
    }
}

/* Adds some basic styling to the modal's content itself. */
.ddmcm-content, .ddmcc-content {

    h2, p {
        &:not(:last-child) {
            padding-bottom: 1rem;
        }
    }

    h2 {
        font-size: 1.125rem;
        line-height: 1.75rem;

        @media screen and (min-width: 64rem) {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }

    /** Let's play safe: H2 is sometimes used for enormously huge texts,
     * so we define our own size, everything else is up to the other styles. */
    .ddmcm-title {
        position: sticky;
        top: 0;
        padding: 1rem 0;
        background-color: var(--ddm-color-background);
    }
}
